@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../fonts/TitilliumWeb-Light.ttf");
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("../fonts/TitilliumWeb-Bold.ttf");
}
/*main vars */
body {
  font-family: "TitilliumWeb-Regular";
  text-align: start;
}

.main_link {
  padding: 16px 34px;
  border: 1px solid #772462;
  color: #772462;
  text-decoration: none;
  font-family: "TitilliumWeb-SemiBold";
  display: inline-flex;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  background-image: url(../imgs/hero.png);
  background-size: cover;
  height: 900px;
  background-position: center;
}
@media (max-width: 991px) {
  .hero {
    height: auto;
  }
}
.hero .nav_container {
  border-bottom: 1px solid #A8A8A8;
}
.hero .nav_container .navbar-nav .nav-link {
  color: #fff;
  font-family: "TitilliumWeb-SemiBold";
}
@media (min-width: 1200px) {
  .hero .nav_container .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
@media (max-width: 991px) {
  .hero #navbarSupportedContent {
    margin-bottom: 16px;
  }
}
.hero .contac_us {
  background-color: #fff;
  color: #772462;
  padding: 8px 21px;
  font-family: "TitilliumWeb-SemiBold";
  text-decoration: none;
}
.hero .hero_content .intro {
  width: 780px;
  max-width: 100%;
  color: #fff;
  padding-top: 80px;
}
.hero .hero_content .intro h1 {
  font-size: 58px;
  line-height: 68px;
  margin-bottom: 28px;
}
@media (max-width: 991px) {
  .hero .hero_content .intro h1 {
    font-size: 46px;
    line-height: 56px;
  }
}
@media (max-width: 767px) {
  .hero .hero_content .intro h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 425px) {
  .hero .hero_content .intro h1 {
    font-size: 22px;
  }
}
.hero .hero_content .intro p {
  font-size: 28px;
  font-family: "TitilliumWeb-Light";
  margin-bottom: 44px;
}
@media (max-width: 991px) {
  .hero .hero_content .intro p {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .hero .hero_content .intro p {
    font-size: 15px;
  }
}
.hero .hero_content .intro .actions {
  display: flex;
  align-items: center;
}
.hero .hero_content .intro .actions .contact {
  border: 1px solid #fff;
  padding: 16px 56px;
  color: #fff;
  text-decoration: none;
  -webkit-margin-end: 48px;
          margin-inline-end: 48px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 767px) {
  .hero .hero_content .intro .actions .contact {
    padding: 12px 24px;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
  }
}
.hero .hero_content .intro .actions .learn {
  color: #fff;
  font-family: "TitilliumWeb-SemiBold";
  text-decoration: none;
}
.hero .more_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hero .more_links .row {
  border-top: 1px solid #C4C4C4;
  margin: 0;
}
.hero .more_links .col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-right: 1px solid #C4C4C4;
  padding: 50px 0 40px;
}
.hero .more_links .col-lg-4 .content {
  width: 80%;
}
.hero .more_links .col-lg-4 .content .caption {
  justify-content: space-between;
}
.hero .more_links .col-lg-4 .content span {
  font-family: "TitilliumWeb-SemiBold";
  font-size: 18px;
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .hero .more_links .col-lg-4 .content span {
    font-size: 15px;
  }
}
.hero .more_links .col-lg-4 .content p {
  font-size: 28px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 767px) {
  .hero .more_links .col-lg-4 .content p {
    font-size: 18px;
  }
}
.hero .more_links .col-lg-4 .content a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 991px) {
  .hero .more_links {
    position: relative;
    margin-top: 32px;
  }
  .hero .more_links .col-lg-4 {
    padding: 16px 0 16px;
    border-right: none;
    border-bottom: 1px solid #C4C4C4;
  }
}

/*stats*/
.stats {
  padding: 160px 0;
  background-image: url(../imgs/stats.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .stats {
    background-position: right center;
    padding: 64px 0;
  }
}
.stats .content p {
  margin-bottom: 40px;
  font-size: 35px;
  line-height: 45px;
  color: #4C4F52;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 767px) {
  .stats .content p {
    font-size: 24px;
    line-height: 34px;
  }
}
.stats .content p:first-of-type {
  font-family: "TitilliumWeb-Regular";
}
.stats .right_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.stats .right_content .item {
  padding-bottom: 32px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
}
.stats .right_content .item .number {
  font-size: 58px;
  font-family: "TitilliumWeb-Bold";
  color: #88C4E8;
  line-height: 28px;
}
@media (max-width: 767px) {
  .stats .right_content .item .number {
    font-size: 44px;
    line-height: 54px;
  }
}
.stats .right_content .item p {
  margin: 0;
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
}

/*what_we_do*/
.what_we_do .main_content {
  background-color: #88C4E8;
  display: flex;
  align-items: center;
}
.what_we_do .right_content {
  width: 75%;
  padding-left: 110px;
  color: #fff;
}
@media (max-width: 1200px) {
  .what_we_do .right_content {
    width: 100%;
    padding-left: 16px;
    color: #fff;
    padding: 36px 16px;
  }
}
.what_we_do .right_content small {
  margin-bottom: 22px;
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
  display: block;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .what_we_do .right_content small {
    font-size: 15px;
  }
}
.what_we_do .right_content h2 {
  margin-bottom: 32px;
  font-size: 38px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 767px) {
  .what_we_do .right_content h2 {
    font-size: 24px;
  }
}
.what_we_do .right_content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .what_we_do .right_content p {
    font-size: 16px;
  }
}
.what_we_do .right_content span {
  font-size: 28px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 767px) {
  .what_we_do .right_content span {
    font-size: 20px;
  }
}

/*services*/
.services {
  padding: 160px 0;
}
@media (max-width: 767px) {
  .services {
    padding: 64px 0;
  }
}
.services .wrapper h6 {
  color: #772462;
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
  margin-bottom: 22px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .services .wrapper h6 {
    font-size: 16px;
  }
}
.services .wrapper .intro {
  color: #4C4F52;
  font-size: 38px;
  line-height: 48px;
  font-family: "TitilliumWeb-SemiBold";
  margin-bottom: 64px;
  width: 72%;
}
@media (max-width: 767px) {
  .services .wrapper .intro {
    font-size: 24px;
    width: 100%;
  }
}
.services .content img {
  margin-bottom: 24px;
}
.services .content h3 {
  font-size: 28px;
  font-family: "TitilliumWeb-SemiBold";
  color: #4C4F52;
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .services .content h3 {
    font-size: 20px;
  }
}
.services .content p {
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
  color: #4C4F52;
  line-height: 28px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .services .content p {
    font-size: 15px;
  }
}
.services .content a {
  padding: 16px 34px;
  border: 1px solid #772462;
  color: #772462;
  text-decoration: none;
  font-family: "TitilliumWeb-SemiBold";
  display: inline-flex;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .services .content a {
    padding: 12px 24px;
  }
}

.feat_proj .proj_content {
  margin-bottom: 24px;
}
.feat_proj .proj_content .proj_links {
  top: 48px;
  left: 64px;
  width: 80%;
}
@media (max-width: 767px) {
  .feat_proj .proj_content .proj_links {
    left: 15px;
    top: 15px;
  }
}
.feat_proj .proj_content .proj_links a {
  color: #fff;
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 767px) {
  .feat_proj .proj_content .proj_links a {
    font-size: 12px;
  }
}
.feat_proj .proj_content .proj_links img {
  margin: 0 4px;
}
.feat_proj .proj_content .proj_links .caption {
  margin-top: 16px;
  font-size: 28px;
  font-family: "TitilliumWeb-SemiBold";
  color: #fff;
}
@media (max-width: 767px) {
  .feat_proj .proj_content .proj_links .caption {
    font-size: 18px;
  }
}

.stories_slider {
  border-top: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;
}
@media (max-width: 991px) {
  .stories_slider {
    border: none;
  }
}
.stories_slider #carouselExampleControls {
  padding-top: 48px;
  height: 100%;
  position: relative;
}
.stories_slider #carouselExampleControls .quote p {
  font-size: 28px;
  color: #4C4F52;
  line-height: 38px;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .stories_slider #carouselExampleControls .quote p {
    font-size: 18px;
  }
}
.stories_slider #carouselExampleControls .signature img {
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
}
.stories_slider #carouselExampleControls .signature span {
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
  color: #4C4F52;
}
@media (max-width: 991px) {
  .stories_slider #carouselExampleControls .signature span {
    font-size: 14px;
  }
}
.stories_slider #carouselExampleControls .carousel-control-prev {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: 15%;
  border: 1px solid #A8A8A8;
  opacity: 1;
  color: #A8A8A8;
  font-size: 24px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 991px) {
  .stories_slider #carouselExampleControls .carousel-control-prev {
    position: relative;
    bottom: 0;
    display: inline-flex;
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
}
.stories_slider #carouselExampleControls .carousel-control-next {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: 15%;
  border: 1px solid #772462;
  opacity: 1;
  color: #772462;
  right: auto;
  left: 12%;
  font-size: 24px;
  font-family: "TitilliumWeb-SemiBold";
}
@media (max-width: 991px) {
  .stories_slider #carouselExampleControls .carousel-control-next {
    position: relative;
    bottom: 0;
    display: inline-flex;
    left: 1%;
    margin-top: 31px;
    margin-bottom: 31px;
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
}

.about_us .main_link {
  border: 1px solid #fff;
  color: #fff;
}

/*partners*/
.partners {
  background-color: #772462;
  padding: 160px 0;
}
.partners h6 {
  margin-bottom: 81px;
}
.partners img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 91px;
}

.insights {
  padding: 160px 0 !important;
}
.insights .links {
  margin-bottom: 16px;
}
.insights .links img {
  margin: 0 12px;
}
.insights .links a {
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
  color: #772462;
}
.insights h4 {
  font-size: 28px;
  font-family: "TitilliumWeb-SemiBold";
  margin-bottom: 32px;
  line-height: 38px;
}
@media (max-width: 767px) {
  .insights h4 {
    font-size: 20px;
  }
}
.insights .avatar {
  margin-bottom: 24px;
}
.insights .avatar img {
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
}
.insights .avatar h5 {
  font-size: 18px;
  font-family: "TitilliumWeb-SemiBold";
  color: #4C4F52;
  margin: 0;
}
.insights .avatar span {
  color: #4C4F52;
}
.insights .icon_img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.insights .cards {
  box-shadow: 4px 10px 40px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}
.insights .cards .card_body {
  background-color: #F0F0F0;
  border: 1px solid #D6D6D6;
  padding: 24px;
}
.insights .cards .card_body p {
  font-size: 21px;
  color: #4C4F52;
  font-family: "TitilliumWeb-SemiBold";
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .insights .cards .card_body p {
    font-size: 16px;
  }
}
.insights .cards .card_body .avatar img {
  margin-left: 0;
}

footer {
  background-color: #4C4F52;
  padding: 112px 0 232px;
  position: relative;
}
footer .content span {
  color: #A8A8A8;
  font-size: 12px;
  font-family: "TitilliumWeb-SemiBold";
  display: block;
  margin-bottom: 28px;
}
footer .content form input,
footer .content form textarea {
  background-color: #44474A;
  border: none;
  padding: 12px 16px;
  resize: none;
}
footer .content form input::-moz-placeholder, footer .content form textarea::-moz-placeholder {
  color: #fff;
}
footer .content form input:-ms-input-placeholder, footer .content form textarea:-ms-input-placeholder {
  color: #fff;
}
footer .content form input::placeholder,
footer .content form textarea::placeholder {
  color: #fff;
}
footer .content form .submit {
  padding: 8px 32px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "TitilliumWeb-SemiBold";
}
footer .contact_sec h5 {
  color: #A8A8A8;
  font-size: 12px;
  font-family: "TitilliumWeb-SemiBold";
  display: block;
  margin-bottom: 28px;
}
footer .contact_sec .data {
  margin-bottom: 16px;
  color: #fff;
}
footer .contact_sec .data img {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
}
footer .locations {
  margin-top: 40px;
  color: #fff;
}
footer .locations span {
  color: #A8A8A8;
  font-size: 12px;
  font-family: "TitilliumWeb-SemiBold";
  display: block;
  margin-bottom: 16px;
}
footer .locations a {
  color: #fff;
  margin: 0 8px;
}
footer .copyrights {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #414446;
  padding: 48px 0;
}
footer .copyrights p {
  color: #fff;
  font-family: "TitilliumWeb-SemiBold";
}
footer .copyrights p a {
  margin-left: 30px;
  text-decoration: underline;
  color: #fff;
}/*# sourceMappingURL=style.css.map */